{
    "printWidth": 130,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingCommas": "none",
    "bracketSpacing": true,
    "jsxBracketSameLinte": true,
    "arrowParens": "always",
    "insertPragma": true
}
